<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Pure Link</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/index.js"></script>
</head>
<body>
    <section id="about">
        <section class="container">
            <header>
                <div class="img-container">
                    <a href="index.html">
                        <img src="template/about/arrow_icon.png" alt="Icon">
                    </a>
                    <img src="template/logo/logo.png" alt="Icon" class="PL">
                </div> <!--(#about > section.container > header >.img-container)-->
                <div class="content">
                    <ul>
                        <li>
                            <a href="">
                                Testing Process
                            </a>
                        </li>
                        <li class="active">
                            <a href="">
                                About
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Medical Team
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Why Us
                            </a>
                        </li>
                    </ul>
                </div> <!--(#about > section.container > header > .content)-->
            </header> <!--(#about > section.container > header)-->
            <section class="content">
                <section class="wrapper">
                    <div class="Our_missions each_content_page active" id="1">
                        <div class="wrapper">
                            <h1>Our Mission</h1>
                            <h4>
                                Our mission at Pure Link is to create a seamless and efficient platform
                                that connects blood donors with those in critical need. We strive to bridge
                                the gap between donors and recipients, ensuring timely and life-saving
                                blood donations while leveraging technology for a healthier, more connected
                                community.
                            </h4>
                        </div> <!--(#about > section.container > section.content > section.wrapper > div.Our_missions > div.wrapper)-->
                    </div> <!--(#about > section.container > section.content > section.wrapper > div.Our_missions)-->
                    <div class="Our_values each_content_page" id="2">
                        <div class="wrapper">
                            <h1>Our values</h1>
                            <ul>
                                <ol>
                                    <b>Compassion:</b> We believe in the power of empathy and
                                     kindness, fostering a culture where every life matters, an
                                    d every donation counts.
                                </ol>
                                <ol>
                                    <b>Reliability:</b>We uphold the highest standards of
                                     trustworthiness and accountability, ensuring that donors
                                      and recipients can depend on us in times of need.
                                </ol>
                                <ol>
                                    <b>Innovation:</b>Embracing innovation, we constantly evolve
                                     our platform to streamline the blood donation process
                                     , making it more accessible and efficient.
                                </ol>
                                <ol>
                                    <b>Community:</b> We foster a sense of unity and solidarity
                                     within our community, rallying together to save lives and
                                    make a meaningful impact on society.
                                </ol>
                            </ul>
                        </div> <!--(#about > section.container > section.content > section.wrapper > div.Our_values > div.wrapper)-->
                    </div> <!--(#about > section.container > section.content > section.wrapper > div.Our_values)-->
                    <div class="How_we_work each_content_page" id="3">
                        <div class="wrapper">
                            <h1>How We Work</h1>
                            <p>
                                User-Friendly Platform: Our user-friendly interface simplifies the process
                                of both donating and requesting blood, ensuring a seamless experience for all users.
                                <br />
                                 Advanced Matching Algorithms: Leveraging cutting-edge technology, our platform
                                employs advanced algorithms to swiftly match donors with recipients based on
                                location and blood type, ensuring timely assistance.
                                <br />
                                Privacy and Security: We prioritize the confidentiality and security of all
                                 user data, implementing robust measures to safeguard personal information.
                                </p>
                        </div> <!--(#about > section.container > section.content > section.wrapper > div.How_we_work >  div.wrapper >)-->
                    </div> <!--(#about > section.container > section.content > section.wrapper > div.How_we_work)-->
                    <div class="Aim each_content_page" id="4">
                        <div class="wrapper">
                            <h1>Pure Link's Aim</h1>
                            <h4>
                                Our aim is to revolutionize the blood donation landscape
                                by harnessing technology to make the process more accessible,
                                efficient, and responsive to the needs of both donors and recipients.
                                We strive to create a world where no one suffers due to the unavailability
                                of blood when they need it the most.
                            </h4>
                        </div> <!--(#about > section.container > section.content > section.wrapper > div.Aim > div.wrapper)-->
                    </div> <!--(#about > section.container > section.content > section.wrapper > div.Aim)-->
                    <div class="Get_involved each_content_page" id="5">
                        <div class="wrapper">
                            <h1>Get Involved</h1>
                            <p>
                                <h4>You can make a difference! Here's how you can get involved with Pure Link:</h4>
                                    <br />
                                    <ul>
                                        <br />
                                        <li>Spread Awareness: Help us raise awareness about the
                                             importance of blood donation and encourage others to join our cause.</li>
                                        <li>Volunteer: Consider volunteering your time and skills to support our
                                             mission in various capacities.</li>                         
                                        <li>Partner with Us: Hospitals, organizations, and institutions can
                                             collaborate with us to enhance the impact of our blood donation platform.</li>
                                        <br />
                                        <h4>Join us in our mission to save lives and create a world
                                         where the gift of blood brings hope and healing to
                                          those who need it most. Together, we can make a difference</h4>
                                    </ul>
                            </p>
                        </div> <!--(#about > section.container > section.content > section.wrapper > div.Get_involved > div.wrapper)-->
                    </div> <!--(#about > section.container > section.content > section.wrapper > div.Get_involved)-->
                </section> <!--(#about > section.container > section.content > section.wrapper)-->
            </section> <!--(#about > section.container > section.content)-->
            <input  type="checkbox" role="button" aria-label="Display the menu" class="menu test_burger">    
            <section class="side-bar"> 
                <section class="wrapper">
                    <div class="top">            
                        <h1>On this page</h1>
                        <hr class="line">
                    </div> <!--(#about > section.container > section.side-bar > section.wrapper > div.top)-->
                    <ul>
                        <li>
                            <span class="bar active" id="1"><img src="template/about/about-side-bar.svg" alt=""></span>
                            <a href="" class="link">Our Missions</a>
                        </li>
                        <li>
                            <span class="bar" id="2"><img src="template/about/about-side-bar.svg" alt=""></span>
                            <a href="" class="link">Our Values</a>
                        </li>
                        <li>
                            <span class="bar" id="3"><img src="template/about/about-side-bar.svg" alt=""></span>
                            <a href="" class="link">How We Work</a>
                        </li>
                        <li>
                            <span class="bar" id="4"><img src="template/about/about-side-bar.svg" alt=""></span>
                            <a href="" class="link">Aim</a>
                        </li>
                        <li>
                            <span class="bar" id="5"><img src="template/about/about-side-bar.svg" alt=""></span>
                            <a href="" class="link">Get Involved</a>
                        </li>
                    </ul>
                </section>  <!--(#about > #container > .side-bar > .wrapper)-->
            </section>  <!--(#about > #container > .side-bar)-->
        </section>  <!--(#about > #container)-->
    </section>  <!--(#about)-->
</body>
</html>