
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../template/logo/logo.png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.2/dist/sweetalert2.min.css" rel="stylesheet">


    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script> -->
    <title>Pure Link</title>
</head>
<body>
    <section id="hero">   
        <section class="bgTemp">
            <header>
                <h1 class="left">
                    <a href="#"><img src="{% static 'template/logo/logo.png'%}" alt="logo"></a>
                </h1>
                <nav>
                    <ul>
                        <li><a href="#">Testing Process</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="#">Medical Teams</a></li>
                        <li><a href="#">Why Us</a></li>
                    </ul>
                </nav>
                <div class="right">
                    <ul>
                        <li><button id="want_blood" class="btn-diamond">Want Blood</button></li>
                        <li><button id="donate_blood" class="btn-diamond">Donate</button></li>
                    </ul>
                </div>       
            </header>   <!--(#hero > .bg-temp > header)-->
            <section class="wrapper flex">
                <div class="left">
                    <h1>Every Drop Counts: Give The Gift Of Life</h1>
                    <h5>Connecting Donors With Those In Need.</h5>
                    <ul>
                        <li>
                            <button class="hero">
                                <img src="{% static 'template/hero/images/reg.png' %}" alt="" width="35px" height="">
                                <span class="now">now!</span>
                                <span class="play">Register</span>
                            </button>
                        </li>
                        <li>
                            <button class="hero">
                                <img src="{% static 'template/hero/images/contact.png' %}" alt="" width="35px" height="">
                                <span class="now">us!</span>
                                <span class="play">Contact</span>
                            </button>
                        </li>
                    </ul>
                </div>  <!--(#hero > .bg-temp > .wrapper > .left)-->
                <div class="right"></div>
            </section>  <!--(#hero > .bg-temp > .wrapper)-->
        </section>  <!--(#hero > .bg-temp)-->
        <hr class="line">
    </section>  <!--(#hero)-->


<!--===================================================================================
                                    WANT BLOOD POPUP!!!!
        ====================================================================================-->
        <div id="popup_container">
            <div class="form-container" id="form_container">
                <div class="closebtn" id="closepopup">
                    <img src="{% static 'template/want_blood/images/close.png' %}" onclick="closepopup()"/>
                </div>
                <h2>Want Blood</h2>
                <form action="">
                    <div class="input-group">
                        <input type="text" placeholder="Name" style="width: 240px;" class="custom-width-280" required>
                        <br>
                        <br>
                        <select class="custom-width-100" style="width: 120px;" required>
                            <option value="option1">Blood group</option>
                            <option value="option2">A+</option>
                            <option value="option3">A-</option>
                            <option value="option4">B+</option>
                            <option value="option5">B-</option>
                            <option value="option6">AB+</option>
                            <option value="option7">AB-</option>
                            <option value="option8">O+</option>
                            <option value="option9">O-</option>
                        </select>
                        <br>
                        <br>
                        <input type="tel" placeholder="Phone no" style="width: 240px;" class="custom-width-100" required>
                        <br>
                        <br>
                       <select class="custom-width-280" name="hospitals" required>
                            <option value="" disabled selected>Select Hospital</option>
                            {% for hospital in hospitals %}
                            <option value="{{ hospital.name }}">{{ hospital.name }}</option>
                            {% endfor %}
                            </select>

                    </div>
                    <div class="input-group">
                        <input type="tel" maxlength="2" placeholder="Age" style="width: 70px;" class="custom-width-50" pattern="[1-5][8-9]|60">
                        <br>
                        <br>
                        <select class="custom-width-100" style="width: 170px;" required>
                            <option value="option1">No of units</option>
                            <option value="option2">1</option>
                            <option value="option3">2</option>
                            <option value="option4">3</option>
                            <option value="option5">4</option>
                            <option value="option6">5</option>
                        </select>
                        <br>
                        <br>
                        <input type="file" accept=".jpg, .jpeg, .png" style="width: 250px;" class="custom-width-280" required>
                    </div>
                    <div class="btn_contianer">
                        <button type="button" class="submit" id="submit" onclick="submit()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    <!--====================================================================================
                                     WANT BLOOD POPUP END !!!!
    ==================================================================================== -->




    <!--====================================================================================
                                     DONATE BLOOD POPUP !!!!
    ==================================================================================== -->

    <div id="donatePopupContainer">
        <div class="formContainer" id="donateFormContainer">
            <div class="closeBtn" id="closeDonatePopup">
                <img src="{% static 'template/want_blood/images/close.png' %}" onclick="hidePopup()" alt="close.png"/>
            </div>
            <h2>Donate Blood Form</h2>
            <form action="{% url 'web:donate_blood' %}" method="post" id="donateForm">
                {% csrf_token %}
                <div class="topContainer">
                    <div class="inputLeft">
                        <div class="inputRow">
                            {{form.name}}
                        </div>
                        <div class="inputRow">
                            {{form.phone_no}}
                        </div>
                        <div class="inputRow">
                            {{form.age}}
                        </div>
                        <div class="inputRow">
                            {{form.has_tattoo}}
                        </div>
                    </div>
                    <div class="inputRight">
                        <div class="inputRow">
                            {{form.blood_group}}
                        </div>
                        <div class="inputRow">
                            {{form.aadhaar_number}}
                        </div>
                        <div class="inputRow">
                            {{form.address}}
                        </div>
                        <div class="inputRow">
                            {{form.latitude}}
                            {{form.longitude}}
                        </div>
                        <button id="open_map_btn" type="button">Access My coordinates</button>
                    </div>
                </div>

                <div class="bottomContainer">
                    <div class="btnContainer">
                        <button type="submit" class="submitButton" id="donateSubmit">Submit</button>
                        <span id="donateformerrormessage"></span>
                        <h5 id="alreadyregistered"><a href="{% url 'web:registered' %}">Already Registered ?</a></h5>
                    </div>
                </div>
            </form>


            <form action="" method="post" id="otpFormDonateSubmission">
                
            </form>
        </div>
    </div>

    <!--====================================================================================
                                     DONATE BLOOD POPUP END !!!!
    ==================================================================================== -->

    <section id="association">
        <section class="wrapper">
            <h4>We are associated with these hospitals</h4>
            <ul>
                <li><img src="{% static 'template/testimonial/images/amrita-removebg-preview.png' %}" alt=""></li>
                <li><img src="{% static 'template/testimonial/images/appolo-removebg-preview.png' %}" alt=""></li>
                <li><img src="{% static 'template/testimonial/images/kims-removebg-preview.png' %}" alt=""></li>
                <li><img src="{% static 'template/testimonial/images/vps-removebg-preview.png' %}" alt=""></li>
                <!-- <li><img src="template/testimonial/images/aster.png" alt=""></li> -->
            </ul>
        </section>  <!--(#association > .wrapper)-->
        <hr class="line">
    </section>  <!--(#association)-->


    <section id="why_donate">
        <section class="wrapper flex">
            <div class="left">
                <h1>The Gift of Life: Blood Donation</h1>
                <p>Every drop counts! Blood donation is a simple yet impactful act of kindness that can save lives. When you donate blood, you provide a lifeline to those in need, be it accident victims, surgical patients, or individuals battling serious illnesses.</p>
                <a href="#">Why Donate Blood <span><img src="{% static 'template/why_donate/images/right_arrow.png' %}" alt="image"></span></a>
                <button class="arrow"><span>Donate</span></button>
            </div>
            <div class="right"><img src="{% static 'template/why_donate/images/donating.png' %}" alt="image"></div>
        </section>  <!--(#why_donate > .wrapper)-->
        <hr class="line">
    </section>  <!--(#why_donate)-->


    <section id="camp">
        <section class="wrapper flex">
            <div class="left">
                <img src="{% static 'template/donate_section/images/Medical research-bro.svg' %}" alt="image">
            </div>
            <div class="right">
                <h1>High Facilitated Camps</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quia minus dolor? Praesentium, nisi? Minima, mollitia ab aperiam ea voluptate, iure rerum asperiores harum ratione temporibus molestiae hic. Nesciunt, saepe.</p>
                <a href="#">Know More <span><img src="{% static 'template/why_donate/images/right_arrow.png' %}" alt="image"></span></a>
            </div>
        </section>  <!--(#camp > .wrapper)-->
        <hr class="line">
    </section>  <!--(#camp)-->


    <section id="home_blood">
        <section class="wrapper flex">
            <div class="left">
                <img src="{% static 'template/home_blood_collection/images/Nursing home-bro.svg' %}" alt="image">
            </div>  <!--(#home_blood > .left)-->
            <div class="right">
                <h1>Home Blood Collection</h1>
                <p>Our home blood collection service prioritizes your convenience and well-being. Skip the hassle of clinic visits – our skilled phlebotomists will collect your blood samples at your doorstep. Enjoy peace of mind with our sterile, professional, and minimally discomforting process, all scheduled at your convenience. Your safety and comfort are our top priorities.
                </p>
                <button class="arrow"><span>Give Blood</span></button>
            </div>  <!--(#home_blood > .wrapper > .right)-->
        </section>  <!--(#home_blood > .wrapper)-->
        <hr class="line">
    </section> <!--(#home_blood)-->


    <section id="restrictions">
        <h1>Restrictions You Must Follow</h1>
        <section class="wrapper">
            <div class="item">
                <ul>
                    <li><h3>Age</h3> Individuals typically need to be between 18 and 65 years old to donate blood. The minimum age might vary in some states and blood banks.</li>
                    <li><h3>Weight</h3> You should weigh at least 45 kg (99 pounds) to be eligible for blood donation.</li>
                    <li><h3>Health</h3> Donors should be in good general health and not suffering from any acute or chronic medical conditions, infections, or diseases at the time of donation.</li>
                    <li><h3>Hemoglobin Levels</h3> Your hemoglobin level should meet the specified criteria, usually around 12.5 to 13.5 grams per deciliter (g/dL) for men and 12.0 to 12.5 g/dL for women.</li>
                    
                    <li class="active"><h3>Tattoos and Piercings</h3> There may be a deferral period after getting a tattoo, piercing, or other invasive procedures due to the risk of infection.</li>
                    <li class="active"><h3>Vaccinations</h3> Depending on the vaccine, there might be a waiting period before donating blood. For example, you may need to wait for a specific duration after receiving certain vaccines, such as COVID-19 vaccines.</li>
                </ul>
            </div>

            <div class="item">
                <ul>
                    <li class="mb"><h3>Pregnancy and Breastfeeding</h3> Pregnant and breastfeeding women are usually not eligible for blood donation.</li>
                    <li><h3>Travel History</h3> Recent travel to certain malaria-endemic areas may disqualify a donor for a specific period.</li>
                    <li><h3>Medications</h3> Some medications may affect eligibility, so it's essential to disclose any prescription or over-the-counter medications you are taking to the blood bank staff.</li>
                    <li class="mb"><h3>Infections</h3> Individuals with HIV, hepatitis B or C, or other blood-borne infections are generally not allowed to donate blood.</li>
                
                    <li class="active"><h3>Previous Donations</h3> There is usually a minimum time interval required between successive blood donations. This interval can vary but is typically around 56 days for whole blood donations.</li>
                    <li class="active"><h3>High-Risk Behaviors</h3> Individuals engaged in high-risk behaviors such as intravenous drug use or unprotected sex with multiple partners may be disqualified from donating blood.</li>
                </ul>
            </div>

            <div class="item">
                <ul>
                    <li><h3>Tattoos and Piercings</h3> There may be a deferral period after getting a tattoo, piercing, or other invasive procedures due to the risk of infection.</li>
                    <li><h3>Vaccinations</h3> Depending on the vaccine, there might be a waiting period before donating blood. For example, you may need to wait for a specific duration after receiving certain vaccines, such as COVID-19 vaccines.</li>
                    <li><h3>Previous Donations</h3> There is usually a minimum time interval required between successive blood donations. This interval can vary but is typically around 56 days for whole blood donations.</li>
                    <li><h3>High-Risk Behaviors</h3> Individuals engaged in high-risk behaviors such as intravenous drug use or unprotected sex with multiple partners may be disqualified from donating blood.</li>
                </ul>
            </div>
        </section>  <!--(#restrictions > .wrapper)-->
        <hr class="line">
    </section>  <!--(#restrictions)-->


    <section id="medical_team">
        <section class="wrapper">
            <h1>Our Medical Teams: Dedicated Proffessionals</h1>
            <ul>
                <li>
                    <div class="image">
                        <img src="{% static 'template/medical_team/images/dctr1.jpg' %}" alt="image">
                    </div>
                    <span class="name">Dr. David Anderson</span>
                    <h6>Cardiovascular Surgery</h6>
                    <p>Has performed over 500 successful heart surgeries, specializing in complex cases and minimally invasive procedures.</p>
                </li>
                <li>
                    <div class="image">
                        <img src="{% static 'template/medical_team/images/dctr2.jfif' %}" alt="image">
                    </div>
                    <span class="name">Dr. Sarah Mitchell</span>
                    <h6>Hematology</h6>
                    <p>Pioneered a groundbreaking technique for rare blood disorders that significantly reduces the need for blood transfusions.</p>
                </li>
                <li>
                    <div class="image">
                        <img src="{% static 'template/medical_team/images/dctr3.png' %}" alt="image">
                    </div>
                    <span class="name">Dr. Michael Roberts</span>
                    <h6>Pediatric Hematology-Oncology</h6>
                    <p>Known for her compassionate care of young patients, Dr. Rahman has played a vital role in increasing survival rates for childhood leukemia in the region.</p>
                </li>
            </ul>
        </section>  <!--(#medical_team > .wrapper)-->
        <hr class="line">
    </section>  <!--(#medical_team)-->


    <footer>
        <section class="wrapper">
            <section class="top flex">
                <div class="item1">
                    <span class="logo"><img src="{% static 'template/logo/logo.png' %}" alt="image"></span>
                    <h1><span>1200</span> Donors Already Connected</h1>
                </div>  <!--(footer > .wrapper > .top > .item1)-->

                <div class="item">
                    <h2>About</h2>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Why US</a></li>
                        <li><a href="#">Why Donate</a></li>
                        <li><a href="#">Facilities</a></li>
                    </ul>
                </div>  <!--(footer > .wrapper > .top > .item)-->

                <div class="item">
                    <h2>Terms&Policies</h2>
                    <ul>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Policies</a></li>
                        <li><a href="#">Security</a></li>
                        <li><a href="#">Cookies</a></li>
                    </ul>
                </div>  <!--(footer > .wrapper > .top > .item)-->

                <div class="item">
                    <h2>Press</h2>
                    <ul>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Awards</a></li>
                    </ul>
                </div>  <!--(footer > .wrapper > .top > .item)-->

                <div class="item">
                    <h2>Get In Touch</h2>
                    <ul>
                        <li><a href="#">Want Blood</a></li>
                        <li><a href="#">Donate</a></li>
                        <li><a href="#">Make A Blood Donor</a></li>
                    </ul>
                </div>  <!--(footer > .wrapper > .top > .item)-->
            </section>  <!--(footer > .wrapper > .top)-->
            <hr class="line">
            <section class="below">
                <ul class="card">
                    <li>
                        <a class="social-link1">
                            <img src="{% static 'template/footer/images/instagram.png' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="social-link2">
                            <img src="{% static 'template/footer/images/telegram.png' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="social-link3">
                            <img src="{% static 'template/footer/images/discord.png' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="social-link4">
                            <img src="{% static 'template/footer/images/whatsapp.png' %}" alt="">
                        </a>
                    </li>
                </ul>  <!--(footer > .wrapper > .below > .card)-->   
                <h1>Donate Blood Save Life</h1>
                <p>Copyrights &copy;2023-24. All Rights Recerved by <a href="#">Pure Link.</a></p>        
            </section>  <!--(footer > .wrapper > .below)-->
        </section>  <!--(footer > .wrapper)-->
    </footer>   <!--(footer)-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.2/dist/sweetalert2.all.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>