.inputGroup.special {
    width: 50%;
}
.topContainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.bottomContainer{
    padding-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#donateformerrormessage {
    display: block;
}
.inputLeft{
    width: 48%;
}
.inputRight{
    width: 48%;
}

.inputRow{
    width: 100%;
}
#donateAddress {
    resize: none;
    height: 38px;
}
#main-containers {
    display:flex;
    align-items: center;
}
#latitude,#longitude {
    width:45%;
    margin-right: 8px;
    margin-bottom: 10px;
}
div.access_coordination {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.access_coordination button {
    display: block;
}
#text-containers {
    display: flex;
    align-items: center;
}
#latitude_text,#longitude_text {
    color: #282828;
    font-size: 15px;
    margin-left: 8px;
    display: inline;
    padding-bottom: 2px;
    border-bottom: 2px solid #000;
    margin-bottom: 8px;
}
#mapbox {
    padding: 10px;
    position: relative;
    display: none;
    height: 480px;
    width: 480px;
    background: #28b32f;
}
#map { 
    display: block;
    height: 440px; 
    width: 440px;
    position: absolute;
    top: 13px;
    left: 25px;
    border-radius: 8px;
}
#mapbox button {
    position: absolute;
    bottom: 11px;
    left: 209px;
}
/****open map styles****/
#donatePopupContainer {
    width: 80%;
    max-width: 700px;
    background-color: #FFAEBB;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 100px;
    left: 400px;
    font-family: 'inter-bold';
}
#donateForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#donateFormContainer {
    background: #FFAEBB;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.closeBtn {
    text-align: right;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
    width: 100%;
    display:flex;
    flex-wrap:wrap;
}

.inputGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.inputRow {
    flex: 1 1 calc(50% - 20px);
    margin-bottom: 15px;
}

.customInput,
.customSelect {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 22px;
}

.customSelect {
    cursor: pointer;
}

.btnContainer {
    text-align: center;
}

.submitButton {
    background-color: #FF7E9E;
    color: #000;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    border: 2px solid #fff;
}

.submitButton:hover {
    background-color: #45a049;
}



/*******DONATE POP ON TOP********/
.form-container {
    width: 80%;
    max-width: 700px;
    background-color: #FFAEBB;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 100px;
    left: 400px;
}
#popup_container , #donatePopupContainer{
    display:none;
}
h2 {
    width: 100%;
    text-align: center;
    color: #068686;
    font-size: 30px;
}

.input-group {
    width: 48%;
    margin-bottom: 15px;
}
.closebtn{
   position: relative;
   height: 40px;
   left:95%;
}
.closebtn img{
    width: 20px;
    height: 20px;
    position: sticky;
    top:23%;
    left:23%;
    cursor: pointer;
}

.input-group select,
.input-group input[type="text"],
.input-group input[type="tel"],
.input-group input[type="search"],
.input-group input[type="file"],
.input-group button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #FFDEE3;
    box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
}

.input-group select {
    cursor: pointer;
}

.input-group input.custom-width-280,
.input-group input.custom-width-100,
.input-group input.custom-width-50 {
    width: calc(100% - 20px);
}

@media screen and (max-width: 600px) {
    .input-group {
        width: 100%;
    }

    .input-group button {
        margin-left: 0;
        padding: 10px; 
    }
}
.btn_contianer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #FF7E9E; 
    border: 5px white solid;
    align-items: center; 
    justify-content: center;
     margin-left: 0;
}